body {
    margin: 0; 
    padding: 0; 
    background: #242a27 url('https://sites.google.com/site/vitorialucenaups/hospedagem/bgx.png') no-repeat;         background-position: center top;
    color: #111; 
    font-family: Tahoma;}

a {
    color: #999;
    text-decoration: none;}
a:hover {
    color: #ccc;}

#conteudo {
    width: 1050px; 
    background: rgba(0,0,0,0.0); 
    margin: 0 auto; 
    position: relative;}

#main {
    background: #e9d6c4; 
    opacity: 0.4; 
    width: 1050px; 
    float: center; 
    position: relative; 
    margin-bottom: 20px; 
    margin-top: 700px;}

#footer {
    background: url(''); 
    background-repeat: no-repeat; 
    background-position: bottom; 
    width: 1050px; 
    height: 720px; 
    clear: both;}

#posicaomenu {
    width: 1050px; 
    height: 110px; 
    background: rgba(24,32,46,0.50); 
    margin: 0 auto; 
    position: relative; 
    margin-top: 560px;}

#menu {
    position: absolute; 
    margin-left: -8px; 
    margin-top: 7px;} 

#menu a {
    overflow: hidden; 
    display: block; 
    font-family:"04b03", small fonts; 
    font-size:8px; 
    text-transform: uppercase; 
    color: #fff; 
    width: 0px; 
    border-left: 8px solid #323232;
    text-align: left; 
    text-shadow: 1px 1px 1px #000; 
    margin-bottom: 1px; 
    height: 20px;} 

#menu a:hover {
    overflow: hidden;
    margin-right: 3px; 
    background: url('https://static.tumblr.com/ifqwhnb/qcqm4x9v4/menu.png'); 
    font-family:"04b03", small fonts; 
    font-size:8px; 
    text-transform: uppercase; 
    display: block; 
    color: #fff; 
    width: 170px; 
    border-left: 8px solid #323232; 
    padding: 5px; 
    text-align: left; 
    text-shadow: 1px 1px 1px #000; 
    margin-bottom: 1px;height: 10px; 
    letter-spacing: 3px;}

.fixar {
    position:fixed;
    margin-top: 0px !important;}










